:root {
    --main-bg-color: pink;
    --offset: 8px;
    --offset-2: 16px;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}
body {
    background-color: var(--main-bg-color);
}
.error {
    color: red;
}

.header {
    height: 80px;
    background-color: lightsalmon;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 24px 8px;
}

.input_group {
    position: relative;
    padding: 16px 0 0;
    margin-top: 16px;
    margin-bottom: var(--offset-2);
}

.input_field {
    font-family: inherit;
    width: 200px;
    border: 0;
    border-bottom: 1px solid violet;
    outline: 0;
    font-size: 16px;
    color: #212121;
    padding: 8px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.input_field::placeholder {
    color: transparent;
}

.input_field:placeholder-shown ~ .input_label {
    font-size: 16px;
    cursor: text;
    top: 20px;
}

label,
.input_field:focus ~ .input_label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 12px;
    color: #9b9b9b;
}

.input_field:focus ~ .input_label {
    color: #009788;
}

.input_field:focus {
    padding-bottom: 6px;
    border-bottom: 2px solid #009788;
}

.img_profile_small {
    width: 50px;
    height: 50px;
}

.img_profile_big {
    width: 150px;
    height: 150px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.modal {
    background-color: white;
    z-index: 3;
    padding: 10px 30px;
    border-radius: 1px;
    width: 60%;
}
.modal h2 {
    margin-bottom: var(--offset-2);
}
.close-btn {
    cursor: pointer;
    float: right;
    display: block;
}

.bio {
    background-color: lightseagreen;
    width: 70%;
    padding: 20px 20px;
}
.navigation {
    width: 30%;
}
.main-body {
    display: flex;
    flex-direction: row;
}
